.leave-main {
	text-align: center;

    white-space: nowrap;

    height: 100%;

    min-height: 720px;

}

.leave-main:before{
	content: '';

    display: inline-block;

    vertical-align: middle;

    margin-right: -.25em;
}

.leave-main-body {
	padding: 0;

    min-height: 590px;

    width: 50%;

    display: inline-block;

    vertical-align: middle;

    text-align: left;

    white-space: normal;
}

.leave-main-body h1{
	text-align: left;

}

.leave-main-body h2{
    text-align: left;

    font-size: 16px;

    margin-bottom: 4px;

    margin-top: 4px;

}

.leave-main-body p{
    margin: 0;

    white-space:nowrap;

    overflow:hidden;

    text-overflow: ellipsis;

    width: inherit;
}

.leave-main-body a{
    text-decoration: none;

}

.leave-main-body a:hover{
    text-decoration: underline;
}

.leave-main-body input {
	width: 73%;
}

.leave-main-body em{
    color: #EF1F1F;

    font-style: normal;
}

.leave-main-body textarea {

}

.leave-button {
	margin-top: 20px;

	background: #02c874;

    box-shadow: none;

    border: 0;

    border-radius: 3px;

    color: #fff;	

    width: 50%;
}

.leave-button:hover{
    background: #02f78e;	
}

.feed-top-field {
    margin-top: 20px;

    font-size: 20px;
}

.feed-item-top {
    border: 1px solid #ccc;

    padding: 10px;

    margin-top: 10px;

}

.feed-item-top:hover {
    background-color: #e8fff5;
}

.feed-tag {
    font-size: 13px;

    color: #999;
}

.feed-author {
    font-weight: 700;
}

.feed-time {
    color: #999;
}

.feed-title img {
    vertical-align: middle;
}
