.leave-main {
	text-align: center;

    white-space: nowrap;

    height: 100%;

    min-height: 720px;

}

.leave-main:before{
	content: '';

    display: inline-block;

    vertical-align: middle;

    margin-right: -.25em;
}

.leave-main-body {
	padding: 0;

    min-height: 590px;

    width: 70%;

    display: inline-block;

    vertical-align: middle;

    text-align: left;

    white-space: normal;
}

.leave-main-body h1{
	text-align: left;

}

.leave-main-body h2{
    text-align: left;

    font-size: 16px;

    margin-bottom: 8px;

}

.leave-main-body p{
    margin: 0;
}

.leave-main-body a{
    text-decoration: none;

    -webkit-tap-highlight-color: rgba(225,225,225,.5);
}

.leave-main-body input {
	width: 73%;
}

.leave-main-body textarea {

}

.leave-button {
	margin-top: 20px;

	background: #02c874;

    box-shadow: none;

    border: 0;

    border-radius: 3px;

    color: #fff;	

    width: 50%;
}

.leave-button:hover{
    background: #02f78e;	
}

.leave-main-body table {
	text-align: center;
}

.feed-author {
    font-weight: 700;
}
