.reply-main {
	text-align: center;

    white-space: nowrap;

    height: 100%;

    min-height: 720px;

}

.reply-main:before{
	content: '';

    display: inline-block;

    vertical-align: middle;

    margin-right: -.25em;
}

.reply-main-body {
	padding: 0;

    min-height: 590px;

    width: 50%;

    display: inline-block;

    vertical-align: middle;

    text-align: left;

    white-space: normal;
}

.reply-main-body h1 {
	text-align: left;
}

.reply-main-body input {
	width: 73%;
}

.reply-main-body textarea {

}

.reply-button {
	margin-top: 20px;

	background: #02c874;

    box-shadow: none;

    border: 0;

    border-radius: 3px;

    color: #fff;	

    width: 50%;
}

.reply-button:hover{
    background: #02f78e;	
}

.reply-main-body table {
	text-align: center;
}